* {
  margin: 0;
  padding: 0;
}

.head,
.Form-content,
.foot {
  background-color: #e53935;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 8px;
}
.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
}
.head .segment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
}
main .Form-content label,
input {
  width: 100%;
  margin: auto;
}
main .Form-content input {
  font-size: 15px;
  padding: 6px 5px;
  font-family: monospace;
  border: 2px solid #ffb44a;
  border-radius: 20px 20px;
  background-color: #ffc97c;
}
main .Form-content label {
  font-weight: 600;
  font-size: 18px;
}
main .Form-content button {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  padding: 6px 20px;
  background-color: #ffc97c;
  border: 2px solid #ffb44a;
  color: orange;
  font-weight: 700;

  border-radius: 10px 10px;
}
main .Form-content button:hover {
  color: rgba(239, 84, 23, 0.843);
  background-color: #ffb44a;
  border: 2px solid #ffc97c;
}
.label {
  text-align: left;
}
.content {
  flex-grow: 1;
}
.head img {
  height: 100px;
  width: 100px;
}
/* Additional form styles */
.main .Form-content .form-group {
  margin: 15px 0;
}
.main .Form-content .form-group input,
select {
  text-align: center;
}

.main .Form-content select {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: 2px solid #ffb44a;
  border-radius: 20px;
  background-color: #ffc97c;
}

.main .Form-content textarea {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: 2px solid #ffb44a;
  border-radius: 20px;
  background-color: #ffc97c;
  resize: vertical;
}

/* Additional form styles */
.main .Form-content .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .Form-content .form-group {
  flex: 1;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .main .Form-content .form-row {
    flex-direction: column; /* Stack fields vertically */
  }

  .main .Form-content .form-group {
    margin: 10px 0; /* Add some vertical spacing between fields */
  }
  .main .Form-content .form-row .form-group {
    width: 100%;
  }
}
